@font-face {
  font-family: "Euclid Circular B Regular";
  src: url(assets/euclidCircularBBold.woff) format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Euclid Circular B Regular";
  src: url(assets/euclidCircularBRegular.woff) format("woff");
  font-weight: normal;
}

::selection {
  background: rgba(244, 115, 246, 0.5);
  color: black;
}

:root {
  --shadow-reverse: -0.05vw -0.05vw rgb(242, 113, 244),
    -0.1vw -0.1vw rgb(1, -128, 3), -0.15vw -0.15vw rgb(6, -123, 8),
    -0.2vw -0.2vw rgb(12, -117, 14), -0.25vw -0.25vw rgb(18, -111, 20),
    -0.3vw -0.3vw rgb(24, -105, 26), -0.35vw -0.35vw rgb(30, -99, 32),
    -0.4vw -0.4vw rgb(35, -94, 37), -0.45vw -0.45vw rgb(41, -88, 43),
    -0.5vw -0.5vw rgb(47, -82, 49), -0.55vw -0.55vw rgb(53, -76, 55),
    -0.6vw -0.6vw rgb(59, -70, 61), -0.65vw -0.65vw rgb(64, -65, 66),
    -0.7vw -0.7vw rgb(70, -59, 72), -0.75vw -0.75vw rgb(76, -53, 78),
    -0.8vw -0.8vw rgb(82, -47, 84), -0.85vw -0.85vw rgb(88, -41, 90),
    -0.9vw -0.9vw rgb(93, -36, 95), -0.95vw -0.95vw rgb(99, -30, 101),
    -1vw -1vw rgb(105, -24, 107), -1.05vw -1.05vw rgb(111, -18, 113),
    -1.1vw -1.1vw rgb(117, -12, 119), -1.15vw -1.15vw rgb(122, -7, 124),
    -1.2vw -1.2vw rgb(128, -1, 130), -1.25vw -1.25vw rgb(134, 5, 136),
    -1.3vw -1.3vw rgb(140, 11, 142), -1.35vw -1.35vw rgb(145, 16, 147),
    -1.4vw -1.4vw rgb(151, 22, 153), -1.45vw -1.45vw rgb(157, 28, 159),
    -1.5vw -1.5vw rgb(163, 34, 165), -1.55vw -1.55vw rgb(169, 40, 171),
    -1.6vw -1.6vw rgb(174, 45, 176), -1.65vw -1.65vw rgb(180, 51, 182),
    -1.7vw -1.7vw rgb(186, 57, 188), -1.75vw -1.75vw rgb(192, 63, 194),
    -1.8vw -1.8vw rgb(198, 69, 200), -1.85vw -1.85vw rgb(203, 74, 205),
    -1.9vw -1.9vw rgb(203, 74, 205), -1.95vw -1.95vw rgb(209, 80, 211),
    -2vw -2vw rgb(215, 86, 217), -2.05vw -2.05vw rgb(221, 92, 223),
    -2.1vw -2.1vw rgb(227, 98, 229), -2.15vw -2.15vw rgb(232, 103, 234),
    -2.2vw -2.2vw rgb(238, 109, 240);
  --shadow: 0.05vw 0.05vw rgb(242, 113, 244), 0.1vw 0.1vw rgb(1, -128, 3),
    0.15vw 0.15vw rgb(6, -123, 8), 0.2vw 0.2vw rgb(12, -117, 14),
    0.25vw 0.25vw rgb(18, -111, 20), 0.3vw 0.3vw rgb(24, -105, 26),
    0.35vw 0.35vw rgb(30, -99, 32), 0.4vw 0.4vw rgb(35, -94, 37),
    0.45vw 0.45vw rgb(41, -88, 43), 0.5vw 0.5vw rgb(47, -82, 49),
    0.55vw 0.55vw rgb(53, -76, 55), 0.6vw 0.6vw rgb(59, -70, 61),
    0.65vw 0.65vw rgb(64, -65, 66), 0.7vw 0.7vw rgb(70, -59, 72),
    0.75vw 0.75vw rgb(76, -53, 78), 0.8vw 0.8vw rgb(82, -47, 84),
    0.85vw 0.85vw rgb(88, -41, 90), 0.9vw 0.9vw rgb(93, -36, 95),
    0.95vw 0.95vw rgb(99, -30, 101), 1vw 1vw rgb(105, -24, 107),
    1.05vw 1.05vw rgb(111, -18, 113), 1.1vw 1.1vw rgb(117, -12, 119),
    1.15vw 1.15vw rgb(122, -7, 124), 1.2vw 1.2vw rgb(128, -1, 130),
    1.25vw 1.25vw rgb(134, 5, 136), 1.3vw 1.3vw rgb(140, 11, 142),
    1.35vw 1.35vw rgb(145, 16, 147), 1.4vw 1.4vw rgb(151, 22, 153),
    1.45vw 1.45vw rgb(157, 28, 159), 1.5vw 1.5vw rgb(163, 34, 165),
    1.55vw 1.55vw rgb(169, 40, 171), 1.6vw 1.6vw rgb(174, 45, 176),
    1.65vw 1.65vw rgb(180, 51, 182), 1.7vw 1.7vw rgb(186, 57, 188),
    1.75vw 1.75vw rgb(192, 63, 194), 1.8vw 1.8vw rgb(198, 69, 200),
    1.85vw 1.85vw rgb(203, 74, 205), 1.9vw 1.9vw rgb(203, 74, 205),
    1.95vw 1.95vw rgb(209, 80, 211), 2vw 2vw rgb(215, 86, 217),
    2.05vw 2.05vw rgb(221, 92, 223), 2.1vw 2.1vw rgb(227, 98, 229),
    2.15vw 2.15vw rgb(232, 103, 234), 2.2vw 2.2vw rgb(238, 109, 240);
  --black-shadow: 0.05vw 0.05vw black, 0.1vw 0.1vw black, 0.15vw 0.15vw black,
    0.2vw 0.2vw black, 0.25vw 0.25vw black, 0.3vw 0.3vw black,
    0.35vw 0.35vw black, 0.4vw 0.4vw black, 0.45vw 0.45vw black,
    0.5vw 0.5vw black, 0.55vw 0.55vw black, 0.6vw 0.6vw black,
    0.65vw 0.65vw black, 0.7vw 0.7vw black, 0.75vw 0.75vw black,
    0.8vw 0.8vw black, 0.85vw 0.85vw black, 0.9vw 0.9vw black,
    0.95vw 0.95vw black, 1vw 1vw black, 1.05vw 1.05vw black, 1.1vw 1.1vw black,
    1.15vw 1.15vw black, 1.2vw 1.2vw black, 1.25vw 1.25vw black,
    1.3vw 1.3vw black, 1.35vw 1.35vw black, 1.4vw 1.4vw black,
    1.45vw 1.45vw black, 1.5vw 1.5vw black, 1.55vw 1.55vw black,
    1.6vw 1.6vw black, 1.65vw 1.65vw black, 1.7vw 1.7vw black,
    1.75vw 1.75vw black, 1.8vw 1.8vw black, 1.85vw 1.85vw black,
    1.9vw 1.9vw black, 1.95vw 1.95vw black, 2vw 2vw black, 2.05vw 2.05vw black,
    2.1vw 2.1vw black, 2.15vw 2.15vw black, 2.2vw 2.2vw black;
  --pink: #f473f6;
  --grey: #e5e5e5;
  --font: "Euclid Circular B Regular", sans-serif;
  --border-radius: 5vw;
  --text-shadow-animation: textShadowBounce 15s infinite;
}

body {
  cursor: default;
  align-items: center;
  background: url(assets/bg.gif) no-repeat top / 99vw,
    url(assets/bg.gif) no-repeat bottom / 99vw, var(--grey);
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  font-feature-settings: "ss01" on, "ss02" on, "ss03" on;
  font-size: 5vw;
  text-align: center;
}

h1 {
  color: var(--pink);
  margin: 3vw 0 4vw 0;
  font-family: var(--font);
  font-size: 20vw;
  text-shadow: var(--black-shadow);
  line-height: 15vw;
  animation: var(--text-shadow-animation);
}

@keyframes textShadowBounce {
  0% {
    text-shadow: var(--black-shadow);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 2);
  }
  3% {
    text-shadow: var(--shadow-reverse);
  }
  6% {
    text-shadow: var(--black-shadow);
  }
  9% {
    text-shadow: var(--black-shadow);
  }
  100% {
    text-shadow: var(--black-shadow);
  }
}

h2 {
  font-size: 3.5vw;
  font-family: var(--font);
}

h3 {
  font-size: 2vw;
  font-family: var(--font);
  margin: 0;
  height: 4vw;
}

h4 {
  font-size: 1vw;
  color: var(--pink);
}

.small {
  font-size: 1vw;
  letter-spacing: 0.1vw;
  padding: 1vw 0 0 0;
  text-transform: uppercase;
}

p {
  font-size: 1.5vw;
  font-family: var(--font);
  margin: 1vw 0 2vw;
}

.container {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
}

.container.end {
  margin-bottom: 5vw;
}

.container.end a {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid var(--pink);
}

#intro {
  width: 68vw;
  margin: 0 auto 3vw;
}

#intro p {
  font-size: 2vw;
  margin-top: 0;
}

.block {
  width: 31.3%;
  padding: 1% 1%;
  margin-top: 2vw;
  display: inline-block;
}

.block img {
  width: 60%;
  height: auto;
}

.tagline {
  padding: 2vw 3.5vw 0;
  color: black;
  font-family: var(--font);
  margin-bottom: 1vw;
}

.color-block {
  width: 100%;
  height: 4vw;
  background-color: var(--pink);
  position: relative;
  top: -4vw;
  mix-blend-mode: hue;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-quote {
  background-color: var(--pink);
  border-radius: 100%;
  padding: 5vw;
  color: var(--grey);
  animation: rotate 5s infinite linear;
  margin: 8vw;
}

.rotating-quote p {
  font-family: var(--font);
  margin: 0;
}

@media screen and (max-width: 600px) {
  .container {
    width: 90vw;
    flex-direction: column;
  }

  .block {
    width: 100%;
  }

  .container.end {
    flex-direction: row;
  }

  .container.end .block {
    width: 30%;
  }

  h3,
  #intro h2,
  h2 {
    font-size: 5vw;
  }

  h3 {
    height: 8vw;
  }

  .color-block {
    top: -6vw;
    height: 6vw;
  }

  p,
  #intro p {
    font-size: 3vw;
  }
}
